# ML-1 Graded Assessment

### DATA_SET:

A Chinese automobile company Geely Auto contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know

Based on various market surveys, the consulting firm has gathered a large dataset of different types of cars across the Americal market.

* Car_ID==			Unique id of each observation (Interger)		
* Symboling== 			Its assigned insurance risk rating, A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe.(Categorical) 		
* carCompany==			Name of car company (Categorical)		
* fueltype==			Car fuel type i.e gas or diesel (Categorical)		
* aspiration==			Aspiration used in a car (Categorical)		
* doornumber==			Number of doors in a car (Categorical)		
* carbody==			body of car (Categorical)		
* drivewheel==			type of drive wheel (Categorical)		
* enginelocation==			Location of car engine (Categorical)		
* wheelbase==			Weelbase of car (Numeric)		
* carlength==			Length of car (Numeric)		
* carwidth==			Width of car (Numeric)		
* carheight==			height of car (Numeric)		
* curbweight==			The weight of a car without occupants or baggage. (Numeric)		
* enginetype==			Type of engine. (Categorical)		
* cylindernumber==			cylinder placed in the car (Categorical)		
* enginesize==			Size of car (Numeric)		
* fuelsystem==			Fuel system of car (Categorical)		
* boreratio==			Boreratio of car (Numeric)		
* stroke==			Stroke or volume inside the engine (Numeric)		
* compressionratio==			compression ratio of car (Numeric)		
* horsepower==			Horsepower (Numeric)		
* peakrpm==			car peak rpm (Numeric)		
* citympg==			Mileage in city (Numeric)		
* highwaympg==			Mileage on highway (Numeric)		
* price(Dependent variable)==			Price of car (Numeric)

In [ ]:
# Kindly change the below cells from markdown to code and execute it

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### 1.	Data Understanding (5 marks)


a.	Read the dataset (tab, csv, xls, txt, inbuilt dataset). What are the number of rows and no. of cols & types of variables (continuous, categorical etc.)? (1 MARK)

b.	Calculate five-point summary for numerical variables (1 MARK)

c.	Summarize observations for categorical variables – no. of categories, % observations in each category. (1 marks)

d.	Check for defects in the data such as missing values, null, outliers, etc. (2 marks)

In [2]:
df = pd.read_csv('Car_Data.csv')

In [3]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.shape

(205, 26)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
car_ID,205.0,103.000000,59.322565,1.00,52.00,103.00,154.00,205.00
symboling,205.0,0.834146,1.245307,-2.00,0.00,1.00,2.00,3.00
wheelbase,205.0,98.756585,6.021776,86.60,94.50,97.00,102.40,120.90
carlength,205.0,174.049268,12.337289,141.10,166.30,173.20,183.10,208.10
carwidth,205.0,65.907805,2.145204,60.30,64.10,65.50,66.90,72.30
carheight,205.0,53.724878,2.443522,47.80,52.00,54.10,55.50,59.80
curbweight,205.0,2555.565854,520.680204,1488.00,2145.00,2414.00,2935.00,4066.00
enginesize,205.0,126.907317,41.642693,61.00,97.00,120.00,141.00,326.00
boreratio,205.0,3.329756,0.270844,2.54,3.15,3.31,3.58,3.94
stroke,205.0,3.255415,0.313597,2.07,3.11,3.29,3.41,4.17
compressionratio,205.0,10.142537,3.972040,7.00,8.60,9.00,9.40,23.00
horsepower,205.0,104.117073,39.544167,48.00,70.00,95.00,116.00,288.00
peakrpm,205.0,5125.121951,476.985643,4150.00,4800.00,5200.00,5500.00,6600.00
citympg,205.0,25.219512,6.542142,13.00,19.00,24.00,30.00,49.00
highwaympg,205.0,30.751220,6.886443,16.00,25.00,30.00,34.00,54.00
price,205.0,13276.710571,7988.852332,5118.00,7788.00,10295.00,16503.00,45400.00

In [8]:
cat_col = df.select_dtypes(include = 'object' )
num_col = df.select_dtypes(include = np.number )

In [10]:
print("\nContinious Columns : ", num_col.columns)
print("\nCategorical Columns : ",cat_col.columns)

Continious Columns :  Index(['car_ID', 'symboling', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

Categorical Columns :  Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber',
       'fuelsystem'],
      dtype='object')

In [23]:
print(' % Value in each categorical columns : \n\n')
for i in cat_col.columns:
    print('\nValues in column : ',i)
    print(100 * df[i].value_counts()/len(df[i]))


"""
normalize=True will give value ratio in 1
print(df[i].value_counts(normalize=True)*100)
"""

 % Value in each categorical columns :



Values in column :  CarName
CarName
toyota corona           2.926829
toyota corolla          2.926829
peugeot 504             2.926829
subaru dl               1.951220
mitsubishi mirage g4    1.463415
                          ...
mazda glc 4             0.487805
mazda rx2 coupe         0.487805
maxda glc deluxe        0.487805
maxda rx3               0.487805
volvo 246               0.487805
Name: count, Length: 147, dtype: float64

Values in column :  fueltype
fueltype
gas       90.243902
diesel     9.756098
Name: count, dtype: float64

Values in column :  aspiration
aspiration
std      81.95122
turbo    18.04878
Name: count, dtype: float64

Values in column :  doornumber
doornumber
four    56.097561
two     43.902439
Name: count, dtype: float64

Values in column :  carbody
carbody
sedan          46.829268
hatchback      34.146341
wagon          12.195122
hardtop         3.902439
convertible     2.926829
Name: count, dtype: float64

Values in column :  drivewheel
drivewheel
fwd    58.536585
rwd    37.073171
4wd     4.390244
Name: count, dtype: float64

Values in column :  enginelocation
enginelocation
front    98.536585
rear      1.463415
Name: count, dtype: float64

Values in column :  enginetype
enginetype
ohc      72.195122
ohcf      7.317073
ohcv      6.341463
dohc      5.853659
l         5.853659
rotor     1.951220
dohcv     0.487805
Name: count, dtype: float64

Values in column :  cylindernumber
cylindernumber
four      77.560976
six       11.707317
five       5.365854
eight      2.439024
two        1.951220
three      0.487805
twelve     0.487805
Name: count, dtype: float64

Values in column :  fuelsystem
fuelsystem
mpfi    45.853659
2bbl    32.195122
idi      9.756098
1bbl     5.365854
spdi     4.390244
4bbl     1.463415
mfi      0.487805
spfi     0.487805
Name: count, dtype: float64

#### 2.	Data Preparation (15 marks)

a.	Fix the defects found above and do appropriate treatment if any. (5 marks)

b.	Visualize the data using relevant plots. Find out the variables which are highly correlated with target variable? (5 marks)

c.	Do you want to exclude some variables from the model based on this analysis? What other actions will you take? (2 marks)

d.	Split dataset into train and test (70:30). Are both train and test representative of the overall data? How would you ascertain this statistically? (3 marks)


### 3.	Model Building (20 marks)

a.	Fit a base model and observe the overall R- Squared, RMSE and MAPE values of the model. Please comment on whether it is good or not.  (5 marks)

b.	Check for multi-collinearity and treat the same. (3 marks)

c.	How would you improve the model? Write clearly the changes that you will make before re-fitting the model. Fit the final model.   (6 marks)

d.	Write down a business interpretation/explanation of the model – which variables are affecting the target the most and explain the relationship. Feel free to use charts or graphs to explain. (4 marks) 

e.	What changes from the base model had the most effect on model performance? (2 marks)